.tactic {
    height: 100vh;
    width: 85vw;

    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 420px) {
    .tactic {
        height: 80vh;
        width: 100vw;

        display: flex;
        align-items: center;
        flex-direction: column;
    }
}