.home {
    height: 100vh;
    width: 85vw;

    display: flex;
    align-items: center;
    flex-direction: column;

    .slider {
        height: 750px;
        width: 900px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .images {
            height: 400px;
            width: 800px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button {
                border: none;

                background-color: transparent;

                padding: 0px;
            }

            .item {
                height: 400px;
                width: 0;
                opacity: 0;
                border-radius: 20px;
                object-fit: cover;

                transition: all 1s ease;

                box-shadow: rgba(0, 0, 0) 5px 5px 50px;

                &.active {
                    width: 650px;
                    opacity: 1;
                }
            }

            .icon {
                font-size: 60px;

                cursor: pointer;

                margin: 0px 5px;

                color: rgb(0, 100, 0);
            }
        }

        .texts {
            height: 250px;
            width: 600px;

            display: flex;
            align-items: flex-start;
            justify-content: center;
            text-align: center;

            object-fit: cover;

            font-size: 27.5px;
            font-weight: 600;

            .p {
                margin: 40px 0px 10px 0px;
                // width: 0px;
                // opacity: 0;
                // transition: all 1s ease;

                // &.active {
                //     width: 600px;
                //     opacity: 1;
                // }
            }

        }

        .list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            height: 50px;
            width: 700px;

            .circle {
                height: 10px;
                width: 10px;

                margin: 50px 10px 0px 10px;

                background-color: transparent;

                border: solid 2px rgba(0, 100, 0);
                border-radius: 50%;

                cursor: pointer;
            }

            .icon {
                display: none;
                font-size: 30px;

                cursor: pointer;

                color: rgb(0, 100, 0);
            }
        }
    }
}