.home {
    height: 100vh;
    width: 85vw;

    display: flex;
    align-items: center;
    flex-direction: column;

    .slider {
        height: 750px;
        width: 900px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .images {
            height: 400px;
            width: 800px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            transition: all 1s ease;

            button {
                border: none;
                background-color: transparent;
                padding: 0px;
            }

            .item {
                height: 400px;
                width: 650px;

                border-radius: 20px;

                object-fit: cover;
            }

            .icon {
                font-size: 60px;

                cursor: pointer;

                margin: 0px 5px;

                color: rgb(0, 100, 0);
            }
        }

        .texts {
            height: 275px;
            width: 600px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 27.5px;
            font-weight: 600;
        }

        .list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            height: 50px;
            width: 700px;

            .circle {
                height: 20px;
                width: 20px;

                margin: 0px 2.5px;

                background-color: transparent;

                border: solid 2px black;
                border-radius: 50%;

                cursor: pointer;
            }

            .icon {
                font-size: 30px;
                cursor: pointer;
                color: rgb(0, 100, 0);
            }
        }
    }
}
